fieldset{
    all: unset;
}

hr {
    margin: 10px 0;
}

#user-image,
#user-image > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#image-upload input {
    display: none;
}

#image-upload label {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 2px 5px;
    margin: 2px;
    font-size: smaller;
    color: #fff;
    background: var(--accent-dim);
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
}

#data-edit-form {
    width: 350px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--strong);
    color: var(--menu);
    font-size: smaller;
    font-weight: bold;
}

#star-upload-container {
    display: flex;
    justify-content: space-between;
}

#user-data-set {
    display: flex;
    flex-direction: column;
    width: 85%;
}

#user-data-set input,
#data-edit-buttons button {
    margin-bottom: 0.5rem;
    height: 30px;
    font-size: larger;
    background-color: var(--bg);
    padding: 0 7px;
    border-radius: 6px;
}

#data-edit-buttons {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

#data-edit-buttons button {
    transition: all 0.4s;
    color: white;
    margin: 15px 0;
    background-color: var(--accent-dim);
    border: 1px solid gray;
}

#data-edit-buttons button:hover,
#image-upload label:hover {
    background-color: var(--accent);
}