@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* DEFINE COLOR SCHEME */
:root {
    --strong: #3d2617;
    --bg: #BDB2A0;
    --accent: #6290C3;
    --accent-dim: #41337A;
    --catch: #254E70;
    --menu: #e3e3e3;
    --whitish: floralwhite;
    --reddish: #ec0b43;
    --accent-shine: #85bfff;
}

/* TOGGLE-able CLASSES */
.hidden {
    display: none;
}

.error-message {
    color: var(--reddish);
    font-weight: 500;
    letter-spacing: 1px;
}

.success-message {
    color: var(--accent)
}

/* GENERAL STYLES */
body {
    font-family: "Noto Sans", serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
}

/* POPUP MESSAGES */
#popup-message {
    position: fixed;
    left: 50%;
    translate: -50% 0%;
    top: 5%;
    box-sizing: border-box;
    z-index: 10;
    padding: 25px;
    text-align: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.95);
    border-radius: 15px;
    user-select: none;
    font-size: larger;
    width: 25%;
    font-weight: bold;
}

#popup-close-button {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    width: 15px;
    height: 10px;
    color: white;
    cursor: pointer;
}

#popup-close-button:hover {
    color: var(--reddish)
}

/* GRID SYSTEM */
#grid-container {
    display: grid;
    grid-template-columns: 250px auto auto auto;
    grid-template-rows: auto auto auto;
    height: 100vh;
}

/* MENU AND OPTIONS */
#menu-options {
    grid-area: 1 / 1 / span 4 / span 1;
    box-shadow: 1px 0 7px 5px black;
    background: url('../images/background_field.jpeg') no-repeat 60% 80%;
    background-size: cover;
    padding: 1rem;
    color: white;
}

#menu-options a {
    all: unset;
    cursor: pointer;
    user-select: none;
    color: var(--accent-shine);
}

#menu-options a:hover {
    text-decoration: underline;
}

/* GAME CARDS DISPLAY */
#games-container {
    grid-area: 1 / 2 / span 4 / span 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    padding: 1rem;
}   

.game-card{
    user-select: none;
    width: 330px;
    border: 2px solid var(--strong);
    border-radius: 10px;
    background: url('../images/simple-background.jpeg') no-repeat center 65%;
    background-size: cover;
    color: white;
    padding: 0.7rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.5s;
    height: auto;
}

.game-card > a {
    all: unset;
    z-index: 3;
    visibility: hidden;
    position: fixed;
    width: 330px;
    height: 160px;
}

#games-container:hover .game-card:not(:hover) {
    filter: brightness(50%);
}

.game-card:hover{
    filter: brightness(140%);
    transform: scale(102%);
    /*box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);*/
}

.game-card-info-text{
    padding: 10px;
}

.game-card td:first-child{
    padding-right: 30px;
}

.text-description-in-flex {
    width: 100%;
    justify-self: center;
    text-align: center;
}

.text-description-in-flex h2 {
    font-weight: bold;
    font-size: xx-large;
    margin: 5px;
}

.text-description-in-flex hr {
    height: 3px;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1000px){
    #popup-message{
        width: 85%;
    }
}