{% extends "index.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'assets/css/game-creation.css' %}" type=text/css>
{% endblock %}

{% block main %}
    <div class="forms-container">
        <form id="game-create-form" action="{% url 'create_game' %}" method="POST">
                {% csrf_token %}
                <div>
                    <label for="id_futsal_field" hidden>Select sports hall: </label>
                    {{ form.futsal_field }}
                </div>
                <hr>
                <div class="label-input-container">
                    <label for="start_date">Game day: </label>
                    <input type="date" value="{% now 'Y-m-d' %}" min="{% now 'Y-m-d' %}" name="start_date" id="start_date">
                </div>
                <hr>
                <div class="label-input-container">
                    <span>Start time: </span>
                    <div>
                        <label for="id_start_hours" hidden>Hours</label>
                        {{ form.start_hours }} :
                        <label for="id_start_minutes" hidden>Minutes</label>
                        {{ form.start_minutes }}
                    </div>
                </div>
                <hr>
                <div class="label-input-container">
                    <span>Game duration: </span>
                    <div>
                        <label for="id_duration_hours" hidden>Hours</label>
                        {{ form.duration_hours }} :
                        <label for="id_duration_minutes" hidden>Minutes</label>
                        {{ form.duration_minutes }}
                    </div>
                </div>
                <hr>
                <div class="label-input-container">
                    <label for="id_players_full">Total players for game: </label>
                    {{ form.players_full }}
                </div>
                <hr>
                <div class="label-input-container">
                    <label for="id_players_missing">Players missing: </label>
                    {{ form.players_missing }}
                </div>
                <hr>
                <div class="label-input-container">
                    <span>Preferred age range: </span>
                    <div>
                        <label for="id_age_min" hidden>Minimum prefferred age </label>
                        <label for="id_age_max" hidden>Maximum preferred age</label>
                        {{ form.age_min }} - {{ form.age_max }}
                    </div>
                </div>
                <hr>
                <div>
                    <label for="id_custom_description">Description: </label>
                    {{ form.custom_description }}
                </div>
                <input type="submit" class="button" value="Create game!">
        </form>
    </div>
{% endblock %}

</body>
</html>