<!-- 
    add preferred age range
    add creator
    add joining player list as links to profiles
    add comments area
    add join/leave button
    add exact address and gmap link
    
-->

{% extends "index.html" %}

{% block main %}
    <table>
        <tbody>
            <tr>
                <td>Created by:</td>
                <td>
                    <a href="{% url 'profile' game.creator.username %}">
                        {{ game.creator.username }}
                    </a>
                </td>
            </tr>
            
            <tr>
                <td>Day:</td>
                <td>{{ game.play_time_start | date:'l, d.m.Y' }}</td>
            </tr>

            <tr>
                <td>Time:</td>
                <td>{{ game.play_time_start | date:'G:i' }} - {{ game.play_time_end | date:'G:i' }}</td>
            </tr>
            
            <tr>
                <td>Sports hall:</td>
                <td>{{ game.futsal_field.name }}
                    (TODO: ADDRESS DISPLAY / GMAPS)
                </td>
            </tr>
            
            <tr>
                <td>Players per team:</td>
                <td>{{ game.players_full }}</td>
            </tr>
            
            <tr>
                <td>Preferred age range:</td>
                <td>{{ game.age_min }} - {{ game.age_max }}</td>
            </tr>

            <tr>
                <td><strong>Players still needed:</strong></td>
                <td><strong>{{ players_missing }}</strong></td>
            </tr>

            {% if game.custom_description %}
                <tr>
                    <td>
                    Creator's notes
                    {{ game.custom_description }}
                    </td>
                </tr>
            {% endif %}
        </tbody>

        <div>
            <a href="{% url 'join_game' game.id %}"><button>JOIN</button></a>
            <a href="{% url 'delete_game' game.id %}"><button>DELETE</button></a>
            {% if players %}
                <div>Users already joined
                    <div>
                        {% for player in players %}
                            <div><a href="{% url 'profile' player.username %}">@{{ player.username }}</a></div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </table>
{% endblock %}