{% extends "index.html" %}

{% block main %}

    {% if created %}
    <div class="text-description-in-flex">
        <h2>CREATED GAMES</h2>
        <hr>
    </div>
        {% for game in created %}
            {% include "card-display.html" %}
        {% endfor %}
    {% endif %}

    {% if joined %}
        {% if created %} <div class="text-description-in-flex"><hr></div> {% endif %}
        <div class="text-description-in-flex">
            <h2>JOINED GAMES</h2>
            <hr>
        </div>    
        {% for game in joined %}
            {% include "card-display.html" %}
        {% endfor %}
    {% endif %}
    
    {% if not created and not joined %}
        <div class="text-description-in-flex">
            <h2>YOU ARE CURRENTLY NOT PART OF ANY GAMES</h2>
        </div>
    {% endif %}

{% endblock %}