{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/forms.css' %}" type="text/css">
    <title>ZagreBaller</title>
</head>

<body>
    <div id="popup-message" {% if not message %} class="hidden" {% endif %}>
        <span class="error-message">
            {{ message | safe }}
        </span>
        <span id="popup-close-button">X</span>
    </div>

    <main>
        {% include "login-forms.html" %}
        <div id="grid-container">
            <section id="menu-options">

            </section>

            <section id="games-container">
                {% block main %}
                {% endblock %}
            </section>
        </div>
    </main>

    <script src="{% static 'assets/js/script.js' %}"></script>
</body>

</html>