{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/forms.css' %}" type="text/css">
    <title>ZagreBaller</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}" class="active-link">HOME</a></li>
                <li><a href="{% url 'index' %}">ABOUT</a></li>
                <li id="login-signup-link"><a href="#">SIGN UP / LOGIN</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% include "login-forms.html" %}
        <div id="grid-container">
            <div id="user-options">
                
            </div>

            <div id="games-container">
                {% block main %}
                {% endblock %}
            </div>
        </div>
    </main>

    <script src="{% static 'assets/js/script.js' %}"></script>
</body>

</html>