{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
    <title>ZagreBaller</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}" class="active-link">HOME</a></li>
                <li><a href="{% url 'index' %}">ABOUT</a></li>
                <li><a href="{% url 'index' %}">SIGN UP / LOGIN</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div id="games-container">
            {% block main %}
            {% endblock %}
        </div>
    </main>

</body>

</html>