{% extends "index.html" %}

{% block main %}
    <div class="forms-container">
        <input type="checkbox" id="form-toggler" {% if 'signup' in request.session %} checked {% endif %}>

        <div class="login form">
            <div class="header">Log in</div>

            <form action="{% url 'login_handler' %}" method="POST">
                {% csrf_token %}
                <input name="username" type="text" placeholder="Enter your username" required>
                <input name="password" type="password" placeholder="Enter your password" required>
                <a href="{% url 'password_reset_form' %}">Forgot password?</a>
                <input type="submit" class="button" value="Log in">
            </form>

            <div class="signup">
                <span class="signup">Don't have an account?
                    <label for="form-toggler">Sign up</label>
                </span>
            </div>
        </div>
        
        <div class="registration form">
            <div class="header">Sign up</div>

            <form action="{% url 'signup_handler' %}" method="POST">
                {% csrf_token %}
                <input name="email" type="email" placeholder="Enter your email" required>
                <input name="username" type="text" placeholder="Choose a username" required>
                <input name="password" type="password" placeholder="Create a password" required>
                <input name="confirm-password" type="password" placeholder="Confirm your password" required>
                <input type="submit" class="button" value="Sign up">
            </form>

            <div class="signup">
                <span class="signup">Already have an account?
                    <label for="form-toggler">Log in</label>
                </span>
            </div>

        </div>
    </div>
{% endblock %}