<div id="login-form-container" {% if not messages %}class="hidden"{% endif %}>
    <input type="checkbox" id="form-toggler">

    <div class="login form">
        <div id="login-message" {% if not messages %} class="hidden" {% endif %}>
            {% for message in messages %}
                <span {% if message.tags == "success" %} class="success-message"
                      {% else %} class="error-message" 
                      {% endif %}
                >
                    {{ message }}
                </span> 
            {% endfor %}
        </div>

        <header>Log in</header>

        <form action="{% url 'login_handler' %}" method="POST">
            {% csrf_token %}
            <input name="username" type="text" placeholder="Enter your username" required>
            <input name="password" type="password" placeholder="Enter your password" required>
            <a href="#">Forgot password?</a>
            <input type="submit" class="button" value="Log in">
        </form>

        <div class="signup">
            <span class="signup">Don't have an account?
                <label for="form-toggler">Sign up</label>
            </span>
        </div>
    </div>
    
    <div class="registration form">
        <header>Sign up</header>

        <form action="#">
            <input type="email" placeholder="Enter your email" required>
            <input type="text" placeholder="Choose a username" required>
            <input type="password" placeholder="Create a password" required>
            <input type="password" placeholder="Confirm your password" required>
            <input type="submit" class="button" value="Sign up">
        </form>

        <div class="signup">
            <span class="signup">Already have an account?
                <label for="form-toggler">Log in</label>
            </span>
        </div>

    </div>
</div>